%side-bar
 %user-bar
  %top-items
   %user-name aaaa
   %icon
    =link_to '#' do
     %i.fa.fa-edit.white
    =link_to '#' do
     %i.fa.fa-cog.white
 %chat-group
  %ul
   %li.group new
   %li.message まだメッセージがありません
  %ul
   %li.group new2
   %li.message まだメッセージがありません
  %ul
   %li.group new3
   %li.message まだメッセージがありません