* {
 box-sizing: border-box;
}

.main-chat{
  height: 100vh;
  width: calc(100% - 300px);
  background-color: #ffffff;
  float: right;
  position: relative;

  .group-bar {
    height: 100px;
    background-color: #ffffff;
    display: block;
    display: flex;
    padding-left: 40px;
    justify-content: space-between;

    ul.group-info{
      display: block;
      padding-top: 35px;
      .user-name{
        font-size: 20px;
        color: #333333;
      }
      .member{
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    .group-edit{
      display: flex;
      height: 40px;
      margin-right: 40px;
      margin-top: 28px;
      a{
        align-items: auto;
        color: #38aef0;
        font-size: 16px;
        line-height: 40px;
        width: 72px;
        border: thin solid;
        display: flex;
        justify-content: center;
        text-decoration: none;
      }
    }
  }

  .message-table{
    height: calc(100% - 190px);
    background-color: #fafafa;
    display: block;
    padding-left: 40px;
    padding-top: 35px;

    .message {

      ul{
        li.user-name{
          font-size: 16px;
          font-weight: bold;
          color: #333333;
          line-height: 16px;
          display: inline;
          }
        li.date{
          display: inline;
          font-size: 12px;
          color: #999999;
          vertical-align: top;
          }
        li.message-content{
          margin-top: 12px;
          margin-bottom: 46px;
          font-size: 14px;
          color: #434a54;
        }
        }
      }
    }
 
  .chat-footer {
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    position: absolute;

    .input-box{
      height: 50px;
      display: flex;
      position: relative;
      
      .input-box__text{
        width: calc(100vw - 495px);
        height: 50px;
        display: flex;
        padding-left: 10px;
      }
      .input-box__image{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.3rem;
        .hidden{
          display: none;
        }
      }
      .input-box__submit{
        color: #ffffff;
        font-size: 18px;
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        margin-left: 15px;
        position: absolute;
        left: 150%;
        top: -30%;
      }
    }
    
  }
}

.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  float: left;
  .user-bar {
    height: 100px;
    background-color: #253141;
    display: block;
    position: relative;
    .top-items {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 260px;
     display: flex;
     justify-content: space-between;
     line-height: 20px;
     .user-name{
       color: #ffffff !important;
       font-weight: bold;
     }
     .icon{
       margin-right: -15px;
       width: 60px;
       display: flex;
       justify-content: end;
       .white{
         color: #ffffff;
         padding-left: 5px;
        }
     }
    }
  }

  .chat-group {
    height: calc(100% - 100px);
    background-color: #2f3e51;
    display: block;
    padding-top: 20px;
    ul{
      margin-left: 20px;
      li.group__name {
        color: #ffffff;
        font-size: 15px;
        list-style: none;
      }
      li.group__message{
        color: #ffffff;
        font-size: 11px;
        list-style: none;
        padding-top: 5px;
        padding-bottom: 40px;        
      }
    }
  }
}